extends _template.pug

block body
    h1 pagos
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.

    .card
        .card-body
            h5.card-title Pago con tarjeta
            p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            a.btn.btn-primary(href="#") Pagar